.mod_questionnaire_viewpage {
  color: black;
}

.mod_questionnaire_viewpage h2 {
  display: none;
}

.projectSelection h3.surveyTitle {
  margin-top: 0;
}

.projectSelection h4.surveyDesc {
  font-size: 1.4em;
}

div.intro {
  border-width: 2px 2px 0 2px;
  border-color: #028e90;
  border-style: solid;
  padding: 5px;
}

div.message {
  font-weight: bold;
  border-width: 0 2px 2px 2px;
  border-color: #028e90;
  border-style: solid;
  padding: 5px;
  border-top: 1px dotted #028e90;
  font-size: 1em;
}

div.yourresponse {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #028e90;
  background-color: ghostwhite;
  padding: 5px;
  font-size: 1em;
}

div.allresponses {
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #028e90;
  background-color: ghostwhite;
  padding: 5px;
  border-top: 1px dotted #028e90;
  font-size: 1em;
  margin-bottom: 10px;
}

div.complete {
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #028e90;
  padding: 5px;
}

.projectSelection ol,
.projectSelection p,
.qn-question,
.qn-answer,
.mod_questionnaire_completepage .generalbox .message,
.mod_questionnaire_completepage .generalbox .addInfo,
.mod_questionnaire_completepage .generalbox .surveyTitle,
.complete,
.yourresponse,
.allresponses,
.mod_questionnaire_viewpage .intro p {
  font-size: 1em;
}

.qn-container td.smalltext {
  font-size: 0.9em;
}

.mod_questionnaire_reportpage h2 {
  font-size: 2em;
}

.qn-question label {
  font-size: 1em;
}

.surveyPage {
  font-size: 1em;
}

/* ---instructions dialogue box on advanced settings/content options/additional info page, which appear at the top of the first page of the questionnaire---
.addInfo {
  font-size: 1em;
}
*/

.surveyTitle {
  font-size: 1.8em;
  color: #0b5584;
}

.mod_questionnaire_viewpage h2 {
  font-size: 1.8em;
  color: #0b5584;
}

.mod_questionnaire_viewpage p,
span.respondentinfo {
  font-size: 1em;
}

.qn-datemsg {
  display: none;
}

/* styling for staff project survey */
div[role="main"]>h2 {
  display: none;
}

h3#surveyTitle {
  font-size: 1.6em;
}

.staffSurvey p {
  font-size: 1em;
}

.modified {
  display: none;
}

/* styling for project category code list on student survey */

.mpharm4-projectlist .headings {
    font-weight: bold;
  }

.listItem {
    margin-left: 15px;
  }
