.mpharm-1819-keypeople {
  font: 14px sans-serif;
}

.departmental-links li {
  list-style-type: none;
}

.departmental-links li::before {
  content: "\f015  ";
  font-family: FontAwesome;
}

.departmental-links ul li:first-child::before {
  content: "\f149  ";
  font-family: FontAwesome;
}

.mpharm-teaching-staff {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.mpharm-teaching-staff th[scope="col"], td[scope="col"] {
  border: 3px solid #7d9fd3;
  font: bold 14px sans-serif;
  text-align: left;
  padding: 5px;
  background-color: #eeeeee;
}

.mpharm-teaching-staff td[scope="row"] {
  font: 14px sans-serif;
  border: 3px solid #7d9fd3;
  text-align: left;
  padding: 5px;
}

#mpharm-years {
  font: bold 14px sans-serif;
  background-color: #eeeeee;
}

#caption {
  margin: 3px;
  padding: 2px;
  color: grey;
  text-align: left;
  font: bold 18px sans-serif;
}

.year-modules ul {
  display: flex;
  flex-direction: column;
  list-style-type: none !important;
  margin-left: 0;
  padding: 0;
  vertical-align: top;
  font: 14px sans-serif;
}

.accordion {
  background-color: #eee;
  font: 14px sans-serif;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 2px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active-mpharm, .accordion:hover {
  background-color: #ccc;
  border: #7d9fd3 2px solid;
}

.mpharm-panel {
  margin: 2px;
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;  
}

.mpharm-panel .year-modules ul li:nth-child(2n+1) {
  border: dotted 2px;
  background-color: #eeeeee;
}

.accordion::after {
  content: "\f13a";
  font-family: FontAwesome;
  font-size: 1.5em;
  height: 1.3em;
  text-align: center;
  width: 1.5em;
  position: absolute;
  right: 2%;
}

.active-mpharm::after {
  content: "\f139";
  font-family: FontAwesome;
}

.mpharm-years, .mpharm1, .mpharm2, .mpharm3, .mpharm4 {
  border: 3px solid #7d9fd3;
}

.modified {
  display: none;
}
