  h2 {
    display: none;
  }

  .psrb-wrapper h4 {
    margin: 5px;
  }

  .year1-box h4,
  .year2-box h4,
  .year3-box h4,
  .year4-box h4 {
    font-size: 1.5em;
    font-weight: 700;
  }

  .year1-box h5,
  .year2-box h5,
  .year3-box h5,
  .year4-box h5 {
    font-size: 1.2em;
    font-weight: 700;
  }

  /* Styling for grid boxes */

  .psrb-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 0.5em;
    font: 1em sans-serif;
    line-height: 1.5;
    color: black;
    padding: 5px;
    border: 3px;
    border-top: 0;
    border-color: #028E90;
    border-style: solid;
  }

  .psrb-box1,
  .psrb-box2 {
    margin: 1px;
    padding: 5px;
    border: 1px solid #028E90;
    border-radius: 5px;
    background-color: whitesmoke;
  }

  /* Fixing image frames for key people */

  .resize-image {
    display: inline;
    float: left;
    position: relative;
    margin-right: 8px;
    width: 140px;
    height: 140px;
    overflow: hidden;
  }

  /* Styling for images of individual key people for each year */

  #B-Jubraj {
    height: 140px;
    width: 168px;
    margin-left: -16px;
    filter: brightness(1.2);
    pointer-events: none;
  }

  #RBP {
    height: 168px;
    width: 200px;
    margin-top: -10px;
    filter: brightness(1.25);
    margin-left: -37px;
    image-rendering: auto;
    pointer-events: none;
  }

  #PR {
    height: 192px;
    width: 240px;
    margin-left: -90px;
    margin-top: -17px;
    filter: brightness(1.05);
    image-rendering: auto;
    pointer-events: none;
  }

  #RS {
    height: 210px;
    width: 150px;
    margin-left: -3px;
    filter: brightness(1.05);
    image-rendering: auto;
    pointer-events: none;
  }

  #DV {
    margin-top: -10px;
    width: 140px;
    filter: brightness(1.05);
    image-rendering: auto;
    pointer-events: none;
  }

  #NS {
    height: 296px;
    width: 197px;
    margin-left: -60px;
    margin-top: -65px;
    filter: brightness(1.15);
    image-rendering: auto;
    pointer-events: none;
  }

  #JP {
    height: 140px;
    width: 200px;
    margin-left: -38px;
    filter: brightness(1.15);
    image-rendering: auto;
    pointer-events: none;
  }

  /* End fix image frames*/

  .year1-keypeople a,
  .year2-keypeople a,
  .year3-keypeople a,
  .year4-keypeople a {
    font: 1em sans-serif;
    display: inline;
  }

  .person-desc {
    font: bold 1.1em sans-serif;
    line-height: 1.3;
  }

  /* Styling for introductory section boxes*/

  .mpharm-year1,
  .mpharm-year4 {
    background-image: url('https://cdn.jsdelivr.net/gh/mm589/keats-assets@704ae284/Key%20People%20Images/mpharm_green_m.png');
    background-color: rgb(201, 218, 234);
    background-repeat: no-repeat;
    background-position: right top -80px;
    overflow: auto;
    border: 3px;
    border-bottom: 0;
    border-color: #028E90;
    border-style: solid;
  }

  .mpharm-year2,
  .mpharm-year3 {
    background-image: url('https://cdn.jsdelivr.net/gh/mm589/keats-assets@704ae284/Key%20People%20Images/mpharm_green_m.png');
    background-color: rgb(201, 218, 234);
    background-repeat: no-repeat;
    overflow: auto;
    border: 3px;
    border-bottom: 0;
    border-color: #028E90;
    border-style: solid;
  }

  .year1-box,
  .year2-box,
  .year3-box,
  .year4-box {
    background-color: rgba(199, 215, 233, 0.75);
    margin: 3em 0 0.75em 0;
    padding: 10px 15px 15px 15px;
    overflow: auto;
    height: auto;
    width: auto;
    font-family: sans-serif;
    color: #000000;
  }

  @media only screen and (max-width: 767px) {
    .mpharm-year1,
    .mpharm-year2,
    .mpharm-year3,
    .mpharm-year4 {
      background-image: none;
    }
    .year1-box,
    .year2-box,
    .year3-box,
    .year4-box {
      background-color: rgb(201, 218, 234);
      margin: 2em 0 -1em 0;
    }
  }

  @media only screen and (max-width: 767px) {
    #psrb-tldr {
      display: none;
    }
    .year4-box blockquote {
      display: none;
    }
  }

  .modified {
    display: none;
  }
