  @import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
  .mpharm-1819-keypeople {
    font: 1em sans-serif;
  }

  /* styling for departmental links section */

  .departmental-links li {
    list-style-type: none;
  }

  .departmental-links li::before {
    content: "\f015  ";
    font-family: FontAwesome;
  }

  .departmental-links ul li:first-child::before {
    content: "\f149  ";
    font-family: FontAwesome;
  }

  /* styling for teaching leadership section and teaching staff table */

  .mpharm-teaching-staff
  /* teaching staff contacts table */

    {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: black;
  }

  @media only screen and (max-width: 665px) {
    .mpharm-teaching-staff table,
    .mpharm-teaching-staff tbody,
    .mpharm-teaching-staff th,
    .mpharm-teaching-staff td,
    .mpharm-teaching-staff tr {
      display: block;
    }
    .mpharm-teaching-staff th[scope="col"],
    .mpharm-years-headers td[scope="col"] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .mpharm-teaching-staff td[scope="row"] {
      position: relative;
      white-space: normal;
      text-align: left;
      border: none !important;
    }
    .mpharm1 td[scope="row"],
    .mpharm2 td[scope="row"],
    .mpharm3 td[scope="row"],
    .mpharm4 td[scope="row"] {
      border: 1px solid #7d9fd3 !important;
    }
    tr.mpharm-table-row {
      border: 2px solid #7d9fd3;
    }
  }

  .mpharm-teaching-staff th[scope="col"],
  td[scope="col"] {
    border: 2px solid #7d9fd3;
    font: bold 1em sans-serif;
    text-align: left;
    padding: 5px;
    background-color: whitesmoke;
  }

  .mpharm-teaching-staff td[scope="row"] {
    font: 1em sans-serif;
    border: 2px solid #7d9fd3;
    text-align: left;
    padding: 5px;
  }

  #mpharm-years {
    font: bold 1.1em sans-serif;
    background-color: whitesmoke;
  }

  #caption {
    margin: 3px;
    padding: 2px;
    color: #545454;
    text-align: left;
    font: bold 1.4em sans-serif;
  }

  .year-modules ul {
    display: flex;
    flex-direction: column;
    list-style-type: none !important;
    margin-left: 0;
    padding: 0;
    vertical-align: top;
    font: 1em sans-serif;
  }

  .psrb-wrapper
  /* teaching leadership grid boxes */

    {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0;
    font: 1em sans-serif;
    color: black;
  }

  .psrb-box1,
  .psrb-box2 {
    margin: 1px;
    padding: 5px;
    border: 2px solid #7d9fd3;
    background-color: transparent;
  }

  @supports not (display: grid) {
    .psrb-wrapper {
      display: block;
    }
  }

  @media screen and (max-width: 695px) {
    .psrb-wrapper {
      display: block;
      font-size: 1em;
    }
    .psrb-box1 .resize-image,
    .psrb-box2 .resize-image {
      display: none;
    }
  }

  /* styling for accordion menu buttons and div panels */

  .accordion {
    background-color: whitesmoke;
    font: 1em sans-serif;
    color: #333;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 2px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active-mpharm,
  .accordion:hover {
    background-color: #ccc;
  }

  .mpharm-panel {
    margin: 2px;
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  @media only screen and (max-width: 450px) {
    .mpharm-panel {
      overflow-y: auto;
    }
  }

  .mpharm-panel .year-modules ul li:nth-child(2n+1) {
    border: dotted 2px;
    background-color: whitesmoke;
  }

  .accordion::after {
    content: "\f13a";
    font-family: FontAwesome;
    font-size: 1.5em;
    height: 1.3em;
    text-align: center;
    width: 1.5em;
    position: absolute;
    right: 2%;
  }

  .active-mpharm::after {
    content: "\f139";
    font-family: FontAwesome;
  }

  @media only screen and (max-width: 767px) {
    /* mobile phones */
    .accordion::after {
      right: 5%;
    }
    .active-mpharm::after {
      right: 5%;
    }
  }

  @media only screen and (min-width: 375px) and (max-width: 766px) {
    /* mobile phones */
    .accordion::after {
      right: 4%;
    }
    .active-mpharm::after {
      right: 4%;
    }
  }

  .mpharm-years,
  .mpharm1,
  .mpharm2,
  .mpharm3,
  .mpharm4 {
    border: 2px solid #7d9fd3;
  }

  /* resize images to fit within specified div container */

  .resize-image {
    display: inline;
    float: left;
    position: relative;
    margin-right: 8px;
    width: 140px;
    height: 140px;
    overflow: hidden;
  }

  #B-Jubraj {
    height: 140px;
    width: 168px;
    margin-left: -16px;
    filter: brightness(1.2);
    pointer-events: none;
  }

  #SB {
    height: 150px;
    width: 200px;
    margin-top: -10px;
    margin-left: 0px;
    filter: brightness(1.15);
    pointer-events: none;
  }

  /* don't display modified datestamp */

  .modified {
    display: none;
  }
