/* styling for grid box and other page elements */
.psrb-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0.5em;
  font: 1em sans-serif;
  line-height: 1.5;
  color: black;
}

.psrb-info {
    font: 1em sans-serif;
    line-height: 1.5;
    color: black;
}

.psrb-box1,
.psrb-box2,
.psrb-box3,
.psrb-box4 {
  margin: 1px;
  padding: 5px;
  border: 2px solid rgb(125, 159, 211);
  border-radius: 5px;
  background-color: transparent;
}

@supports not (display: grid) {
  .psrb-wrapper {
    display: block;
  }
}

@media screen and (max-width: 595px) {
  .psrb-wrapper {
    display: block;
    font-size: 1em;
  }
}

/* styling for hyperlinks */
.psrb-wrapper a, .psrb-info a {
  text-decoration: none;
  border-bottom: 1px solid #707070;
  padding: 0 1px 0;
  margin: 0 -1px 0;
}

.psrb-wrapper a:hover, .psrb-info a:hover {
  background-color: #f8f8f8;
  border-bottom-width: 3px;
  margin-bottom: -2px;
}

/* styling for "Who's Who" table */

.psrb-contacts {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  font: 1em sans-serif;
  line-height: 2;
  color: black;
}

.psrb-contacts th[scope="col"],
th[scope="row"],
td[scope="row"] {
  font-weight: bold;
  text-align: left;
  border: 3px solid rgb(125, 159, 211);
  padding: 2px;
}

.psrb-contacts tr:nth-child(odd) {
  background-color: whitesmoke;
}

.psrb-contacts th[scope="col"] {
  background-color: #cedff5;
}

.psrb-contacts a {
  text-decoration: none;
  border-bottom: 1px solid #707070;
  padding: 0 1px 0;
  margin: 0 -1px 0;
}

.psrb-contacts a:hover {
  background-color: #f8f8f8;
  border-bottom-width: 3px;
  margin-bottom: -2px;
}

@media only screen and (max-width: 560px) {
  .psrb-contacts table,
  .psrb-contacts tbody,
  .psrb-contacts th,
  .psrb-contacts td,
  .psrb-contacts tr {
    display: block;
    border: 1px solid rgb(125, 159, 211);
    background-color: transparent;
  }
  .psrb-contacts th[scope="col"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .psrb-contacts td {
    position: relative;
    white-space: normal;
    text-align: left;
  }
}
