@font-face {
  font-family: 'BureauGrotesqueThreeSeven';
  src: url(https://cdn.jsdelivr.net/gh/mm589/keats-assets/Fonts/BureauGrotesqueThreeSeven.woff) format('woff'), url(https://cdn.jsdelivr.net/gh/mm589/keats-assets/Fonts/KingsBureauGrot-ThreeSeven.ttf) format('truetype');
  font-family: 'Kings Caslon Display';
  src: url(https://cdn.jsdelivr.net/gh/mm589/keats-assets/Fonts/KingsCaslonDisplay.ttf) format('truetype');
}

.qn-question,
.qn-answer {
  font-size: 1.2em;
  font-family: "Kings Caslon Display", Georgia, sans-serif;
}

.qn-question label {
  font-family: "Kings Caslon Display", Georgia, sans-serif;
  font-size: 1em;
}

.surveyPage,
.mod_questionnaire_completepage .generalbox .message,
.mod_questionnaire_completepage .generalbox .addInfo,
.mod_questionnaire_completepage .generalbox .surveyTitle,
.complete,
.yourresponse,
.allresponses,
.mod_questionnaire_viewpage .intro p {
  font-family: "Kings Caslon Display", Georgia, sans-serif;
  font-size: 1.2em;
}

.addInfo {
  font-family: "Kings Caslon Display", Georgia, sans-serif;
  font-size: 1.2em;
}

.surveyTitle {
  font-family: "BureauGrotesqueThreeSeven", Impact, sans-serif;
  font-size: 1.8em;
  color: #0b5584;
}

.qn-info h2.qn-number {
  font-family: "Kings Caslon Display", Georgia, sans-serif;
}

.mod_questionnaire_viewpage h2 {
  font-family: "BureauGrotesqueThreeSeven", Impact, sans-serif;
  font-size: 1.8em;
  color: #0b5584;
}

.mod_questionnaire_viewpage p {
  font-family: "Kings Caslon Display", Georgia, sans-serif;
  font-size: 1.1em;
}

.qn-datemsg {
  display: none;
}
