@font-face {
    font-family: 'BureauGrotesqueThreeSeven';
    src: url(https://cdn.jsdelivr.net/gh/mm589/keats-assets/Fonts/BureauGrotesqueThreeSeven.woff) format('woff'),
      url(https://cdn.jsdelivr.net/gh/mm589/keats-assets/Fonts/KingsBureauGrot-ThreeSeven.ttf) format('truetype');
    font-family: 'Kings Caslon Display';
    src: url(https://cdn.jsdelivr.net/gh/mm589/keats-assets/Fonts/KingsCaslonDisplay.ttf) format('truetype');
  }

  .vctel-role {
    color: #094a58;
    font-family: 'BureauGrotesqueThreeSeven', sans-serif;
font-size: 1.4em;
  }
  
  .vctel-info {
    color: black;
    font-family: 'Kings Caslon Display', Georgia, sans-serif;
    font-weight: bold;
font-size: 1.2em;
  }
